/* CSS FOR HOME & TWEETS PAGE*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    width: 100%; 
    font-size: 1.1rem;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    overflow-y: scroll;
    background: #14171A;
    color: #F5F8FA;
    height: 100vh;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif

}


nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    position: fixed;
    height: 100vh;
    overflow: auto;
    box-shadow: 2px 0px 0px rgba(245, 248, 250, 0.25);
}

nav a, i {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    font-weight: 700;
}


nav a:hover {
    background-color:#1DA1F2;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.user_account{
    bottom: 0;
    color: white;
    text-align: center;    
}

.row{
    bottom: 0;
    position: absolute;
    height: 60px;
    width: 300px;
}

.create_tweet_button{
    margin-left: 20%;
    margin-right: 20%;
    background-color: #1DA1F2;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.container{
    margin-left:25%;
    padding:5px 16px;
    height:100vh;
    margin-top: 30px
}

span{
    display: inline-block;
}

i{
    padding-right: 10px;
}

input{
    width: 300px;
    height: 35px;
    background-color: #F5F8FA;
    border: 1px solid #828282;
    border-radius: 20px;
    padding-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

button{
    background-color: #1DA1F2;
    margin-top: 20px;
    width: 300px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 40px;
    font-size: 20px;
    border: 1px solid #828282;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.tweet{
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #999;
    background-color: #26282A;
    border: 1px solid #14171A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30fr 100fr 100fr ;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.tweet i{
    font-size: 90px;
    color: #1DA1F2;
}

.tweet_button{
    width: 150px;
    cursor: pointer;
}

.delete_button{
    margin-top: -37px;
    margin-left: 50%;
}

.tweet_button i{
    font-size: 20px;
    color: white;
}

.tweet:hover{
    background-color: #8A8D8F;
}

.tweet input{
    background-color: #14171A;
    color: white;
}

.error{
    padding-bottom: 20px;
    color: rgb(206, 124, 124);
    font-weight: 700;
}


/* POPUP */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #14171A;
    border-radius: 5px;
    width: 500px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h1{
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #1DA1F2;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}





