<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{get('title', 'ups...')}}</title>
</head>
<body>
    <nav>
        <a href="/home"> <i class="fa fa-home"></i>Home</a>
        <a href="/tweets"> <i class="fa fa-list-alt" aria-hidden="true"></i>Tweets</a>
        <a href="/profile"> <i class="fa fa-user-circle-o" aria-hidden="true"></i>Profile</a>
        <a href="/logout"> <i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        <a class="create_tweet_button" href="tweets#popup">Create a tweet</a>
    </nav>

    <div class="row">
        <div class="user_account">
            <a href="/profile"> <i class="fa fa-user-circle-o" aria-hidden="true"></i>{{user_email}} </a>
        </div>
    </div>
   

    
    % include("create_popup")

        
    