% include("header_log_sign", title="Login")

<main >
    <div class="container">


            % if error == "wrong_credentials":
            <div class="error">
                Wrong credentials
            </div>
            % end

            <i class="fa fa-twitter" aria-hidden="true"></i>

            <h1>Login</h1>
            
            <form action="/login" method="post">
                <input name="user_email" type="text" placeholder="Email" value="{{user_email or ''}}" tabindex="1" required> 
                <input name="user_password" type="password" placeholder="Password" tabindex="2" required>
                <button>Log in</button>
            </form>
        
            <div>
                <h3>Don't have an account? <a href="/signup"> Sign up</a></h3>
            </div>
    
    </div>
        
   
</main> 

% include("footer")