% include("header", title="Following")

  <div class="w-2/4 border-x border-slate-200 ">
    % for user in users:

    <div class="flex flex-row py-5 pl-5 text-white">
      <a class="px-2 py-2 hover:rounded-full hover:bg-gray-800" href="/myprofile"><i class=" fa fa-arrow-left fa-fw"></i></a>
      <p class="pl-5 text-2xl"><strong>{{user[1]}} {{user[2]}}</strong></p>
    </div>
    
    % end
    <div class="mx-10 ">

      <div class="flex flex-row px-2 text-white">
        <div class="w-1/2 py-2 text-center hover:bg-gray-800">
          <button class="text-xl cursor-pointer tablinks " onclick="openTab(event, 'Following')">Following</button>
        </div>
        <div class="w-1/2 py-2 text-center hover:bg-gray-800">
          <button class="text-xl cursor-pointer tablinks " onclick="openTab(event, 'Followers')">Followers</button>
        </div>
        </div>
        <div class="clear-both">
          <hr class="pb-5 text-white">
          <div id="Following" class="hidden text-white tabcontent">
            % for follow in follows:
            <p class="text-white">{{follow[1]}}</p>
            %end
          </div>
          
          <div id="Followers" class="hidden text-white tabcontent">
            % for follow in followers:
            <p class="text-white">{{follow[0]}}</p>
            % end

          </div>
        </div>

      </div>




  
    </div>
  </div>

  <div class="w-1/4">
    <div class="fixed p-4 text-white">
      % include("right_side")
    </div>
  </div>

  
  % include("footer")
