% include("header", title="My tweets")

  <div id="all_tweets" class="w-2/4 border-x border-slate-200">
    <div class="p-4">
      <form onsubmit="return false">
        <input class="w-full h-12 px-4 rounded bg-slate-500 text-slate-200 placeholder:text-slate-200" 
        type="text" placeholder="What are you interested in ?">
      </form>
    </div>
    <div class="px-4 py-4 pt-0">
      <form class="relative flex p-4 border rounded border-blue" onsubmit="return false">
        <input class="w-full h-12 rounded outline-none text-slate-800" 
        type="text" placeholder="What is in your mind ?">
        <button class="absolute px-8 py-2 text-white bg-blue-500 rounded-full bottom-2 right-2">
          Voice it
        </button>
      </form>
    </div>
    <div class="mt-4">
      % for tweet in tweets:
      <div class="p-4 border-t border-slate-200">
        <div class="flex">
          <div class="w-full pl-4 text-white">
            

            <form action="/delete_tweet/<tweet_id_update>" method="post" >
              <input  class="hidden" name="tweet_id_update" type="text" value="{{tweet[0]}}">
              <div class="flex">
                <p class="">
                  <a href="/myprofile">{{tweet[5]}}</a>
                </p>   
                <div class="">
                  <i class="ml-3 fa-solid fa-circle"></i>
                  Created: {{tweet[3]}} 
                </div>  
                <div  class="">
                  <i class="ml-3 fa-solid fa-circle"></i>
                  Updated: {{tweet[4]}}
                </div>
                <button id="delete_tweet" class="ml-10 cursor-pointer"><i  class="fa-solid fa-trash"></i></button>
              </div>  
            </form>
              
              
              <div class="error">
                % if error == "tweet_title":
                <p>Please enter longer title</p>
                % end
    
                % if error == "tweet_description":
                    <p>Please enter longer description</p>
                % end
            </div>
            <form id="update_form" action="/tweet_update/<tweet_id_update>" method="post"  > 
                <input class="hidden" name="tweet_created_at_update" type="text" value="{{tweet[3]}}">
                <input class="hidden"  name="tweet_updated_at_update" type="text" value="{{tweet[4]}}">
                <input  class="hidden" name="tweet_id_update" type="text" value="{{tweet[0]}}">
                <input  class="mt-2 font-bold text-white bg-black" name="tweet_title_update" type="text" value="{{tweet[2]}}" data-validate="str" data-min="2" data-max="100" >
                <input class="block mt-2 text-white bg-black" name="tweet_description_update" type="text" value="{{tweet[1]}}" data-validate="str" data-min="2" data-max="100" >
                <input type="text" name="image_id" class="hidden" value="{{tweet[6]}}">
              <button type="submit" class="flex float-left mb-2"><i class="fa-solid fa-pencil"></i></button>
            </form>    
            
            <div id="image_tweet_id" class="pt-2 ">
              <img src="../images/{{tweet[6]}}">
            </div>
          </div>
        </div>
      </div>
      % end           
    </div>
  </div>


  <div id="my_tweets"  class="hidden w-2/4 border-x border-slate-200">
    

  </div>
  


  <div class="w-1/4">
    <div class="fixed p-4">
      <h1 class="text-white">My tweets</h1>
    </div>
  </div>

  
</body>
</html>