% include("header_log_sign", title="Signup")

<main>   

    <div class="container">
        
            % if error == "user_email":
            <div class="error">
            <p> The email is not in a validat format</p>
            </div> 
            % end
        
            % if error == "user_password":
            <div class="error">
                <p>Please enter a valid password</p>
            </div>
            % end


            % if error == "user_name":
            <div class="error">
                <p>User name is too short</p>
            </div>
            % end


            % if error == "street_name":
            <div class="error">
                <p>Street name is too short</p>
            </div>
            % end

            % if error == "country":
            <div class="error">
                <p>Country name is too short</p>
            </div>
            % end

            % if error == "region":
            <div class="error">
                <p>Region name is too short</p>
            </div>
            % end

            % if error == "city":
            <div class="error">
                <p>city name is too short</p>
            </div>
            % end

            % if error == "image_user":
            <div class="error">
                <p>Image format is not correct</p>
            </div>
            % end

            % if error == "user_exist":
            <div class="error">
                <p>User with this email already exist</p>
            </div>
            % end

            % if error == "image":
            <div class="error">
                <p>Removing the suspicious file
                </p>
            </div>
            % end
            
            <i class="fa fa-twitter" aria-hidden="true"></i>


        <h1>Signup</h1>
        
        <form action="/signup" method="post" enctype="multipart/form-data"> 
            <div class="left">
                <label for="user_first_name">First name:</label>
                <input id="user_first_name" name="user_first_name" type="text" placeholder="First name" value="{{user_first_name or ''}}"  data-validate="str" data-min="1" data-max="100" required>            
                <label for="user_last_name">Last name:</label>
                <input id="user_last_name" name="user_last_name" type="text" placeholder="Last name"  value="{{user_last_name or ''}}"   data-validate="str" data-min="1" data-max="100"required>
                <label for="user_email">Email:</label> 
                <input id="user_email" name="user_email" type="text" placeholder="Email"  value="{{user_email or ''}}"   data-validate="email">
                <label for="user_password">Password (6-50 characters):</label> 
                <input id="user_password" name="user_password" type="password" placeholder="Password" data-validate="str" data-min="1" data-max="100" required>
                <label for="street_name">Street name:</label> 
                <input id="street_name" name="street_name" type="text" placeholder="Street name" value="{{street_name or ''}}"   data-validate="str" data-min="1" data-max="100" required>
            </div>
            <div class="right">
                <label for="country">Country:</label> 
                <input id="country" name="country" type="text" placeholder="Country" value="{{country or ''}}"    data-validate="str" data-min="1" data-max="100" required>
                <label for="region"> Region:</label> 
                <input id="region" name="region" type="text" placeholder="Region" value="{{region or ''}}"    data-validate="str" data-min="1" data-max="100" required>
                <label for="zipcode">Zipcode:</label> 
                <input id="zipcode" name="zipcode" type="number" placeholder="Zipcode" value="{{zipcode or ''}}"    data-validate="int" required >
                <label for="city">City:</label> 
                <input id="city" name="city" type="text" placeholder="City" value="{{city or ''}}"    data-validate="str" data-min="1" data-max="100" required>
                <label for="street_number">Street number:</label> 
                <input id="street_number" name="street_number" type="number" placeholder="street number" value="{{street_number or ''}}"    data-validate="int" required>
            </div>
            <label for="image_user">Select image:</label>
            <input type="file" id="image_user" name="image_user" accept="image/*" required>
            <button>Sign up</button>
    
        </form>
    
        <div>
            <h3>Already have an account? <a href="/login"> Log in</a></h3>
        </div>
    </div>
    
    
</main> 

% include("footer")

    
