% include("header_in_system", title="Tweets")

<main>

    <div class="container">

        <h1>List of all tweets</h1>

        % if tweets == []:
    <div>
        Sorry there is no tweets, create one ...
    </div>
% end




<div>

    % for tweet in tweets:
    <div class="tweet">
        <form action="/delete_tweet/<tweet_id>" method="post">
            <input name="tweet_id" type="hidden" value='{{ tweet["tweet_id"] }}'>
            <div> Title: {{ tweet["tweet_title"] }}</div>
            <div> Description: {{ tweet["tweet_description"] }}</div>
            <button>Delete</button>  
        </form>
        <form action="tweet_update/<tweet_id>" method="post">
            <input name="tweet_id" type="hidden" value='{{ tweet["tweet_id"] }}'>
            <input name="tweet_tittle" value='{{tweet["tweet_title"]}}'>
            <input name="tweet_description" value='{{tweet["tweet_description"]}}'>
            <button>Update</button>
        </form>

        

    </div>

    % end

</div>
</div>


    </div>

    
</main>



% include("footer")


